#header{
  margin-bottom: 0.08em;
  width: 100%;
  /* background: rgb(255,255,255); */
background: linear-gradient(119deg, rgba(255,255,255,0.8527701104100947) 31%, rgba(26,58,26,0.93) 31%);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.logoSection{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aliceblue; */
}
.logoSection img{
  margin: 5px;
  width: 50px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.815) 0px 25px 20px -20px;
}
.logoSection > p:nth-child(2) {
  font-size: 35px;
  color: rgb(26, 58, 26);
  font-weight: 600;
  letter-spacing: 10px;
  margin-top: -10px;
}
.logoSection > p:nth-child(3) {
  font-size: 15px;
  color: #d5b060d6;
  letter-spacing: 5px;
  margin-top: -10px;
}
.menuSection{
  width: 100%;
  list-style-type: none;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menuSection li{
  width: 100%;
  text-align: center;
}
.menuSection li a{
  font-size: 0.5em;
  text-decoration: none;
  color: #d5b060d6;
  transition: all .3s ease-in-out;
}
.menuSection li a:hover{
  font-size: .7em;
  letter-spacing: .1em;
  color: #E16162;
}
/* burger menu section */
.burgerMenu {
  position: absolute;
  top: .3em;
  right: .3em;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 45px;
  height: 5px;
  border-radius: .1em;
  margin: 0.1em;
  background-color: #d5b060d6;
  transition: 0.4s;
}

.change .bar1 {
  /* -webkit-transform: rotate(-45deg) translate(-9px, 6px); */
  transform: rotate(-45deg) translate(-.25em,.20em);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  /* -webkit-transform: rotate(45deg) translate(-8px, -8px); */
  transform: rotate(45deg) translate(-.25em, -.25em);
}

@media (max-width: 860px) {
  #header{
    padding: .2em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
background: linear-gradient(42deg, rgba(233,236,233,1) 71%, rgba(26,58,26,1) 72%);
  }
  .logoSection{
    justify-content: flex-start;
    margin-left: -200px;
  }
  .menuSection{
    position: fixed;
    top: -110%;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(23, 24, 23, 0.842);
    transition: .3s;
    gap: 1em;
  }
  .menuSection li{
    text-align: center;
  }
  .menuSection li a{
    font-size: .65em;
  }
  .menuSection li a:hover{
    font-size: .85em;
  }
  .active{
    top: 0;
    height: 100%;
  }
  .burgerMenu{
    display: flex;
  }
}